cfs entry for: _a.fld
doc 0
  field 0
    name title
    type string
    value [2106.16118] SimNet: Enabling Robust Unknown Object Manipulation from Pure Synthetic Data via Stereo
  field 1
    name authors
    type string
    value authors
  field 2
    name abstract
    type string
    value abstract
  field 3
    name body
    type string
    value body
doc 1
  field 0
    name title
    type string
    value [2403.04445] Classist Tools: Social Class Correlates with Performance in NLP
  field 1
    name authors
    type string
    value authors
  field 2
    name abstract
    type string
    value abstract
  field 3
    name body
    type string
    value body
END
checksum 00000000000357673211
cfs entry for: _a.inf
number of fields 4
  name title
  number 0
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  soft-deletes false
  name authors
  number 1
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  soft-deletes false
  name abstract
  number 2
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  soft-deletes false
  name body
  number 3
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  soft-deletes false
checksum 00000000004177309329
cfs entry for: _a.len
field title
  type NUMERIC
  minvalue 10
  pattern 0
3
T
0
T
field authors
  type NUMERIC
  minvalue 1
  pattern 0
0
T
0
T
field abstract
  type NUMERIC
  minvalue 1
  pattern 0
0
T
0
T
field body
  type NUMERIC
  minvalue 1
  pattern 0
0
T
0
T
END
checksum 00000000003296655021
cfs entry for: _a.pst
field abstract
  term abstract
    doc 0
      freq 1
      pos 0
    doc 1
      freq 1
      pos 0
field authors
  term authors
    doc 0
      freq 1
      pos 0
    doc 1
      freq 1
      pos 0
field body
  term body
    doc 0
      freq 1
      pos 0
    doc 1
      freq 1
      pos 0
field title
  term 2106.16118
    doc 0
      freq 1
      pos 0
  term 2403.04445
    doc 1
      freq 1
      pos 0
  term class
    doc 1
      freq 1
      pos 4
  term classist
    doc 1
      freq 1
      pos 1
  term correlates
    doc 1
      freq 1
      pos 5
  term data
    doc 0
      freq 1
      pos 10
  term enabling
    doc 0
      freq 1
      pos 2
  term from
    doc 0
      freq 1
      pos 7
  term in
    doc 1
      freq 1
      pos 8
  term manipulation
    doc 0
      freq 1
      pos 6
  term nlp
    doc 1
      freq 1
      pos 9
  term object
    doc 0
      freq 1
      pos 5
  term performance
    doc 1
      freq 1
      pos 7
  term pure
    doc 0
      freq 1
      pos 8
  term robust
    doc 0
      freq 1
      pos 3
  term simnet
    doc 0
      freq 1
      pos 1
  term social
    doc 1
      freq 1
      pos 3
  term stereo
    doc 0
      freq 1
      pos 12
  term synthetic
    doc 0
      freq 1
      pos 9
  term tools
    doc 1
      freq 1
      pos 2
  term unknown
    doc 0
      freq 1
      pos 4
  term via
    doc 0
      freq 1
      pos 11
  term with
    doc 1
      freq 1
      pos 6
END
checksum 00000000002480423733
table of contents, size: 4
  filename: _a.fld
    start: 22
    end: 706
  filename: _a.inf
    start: 728
    end: 1881
  filename: _a.len
    start: 1903
    end: 2182
  filename: _a.pst
    start: 2204
    end: 3684
table of contents begins at offset: 0000000000000003684
